<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wanderlust </title>
</head>
<body>
    <form action="/listings/<%= listing._id %>?_method=PATCH" method="post">
        <h3> Edit a listing </h3>
        <input type="text" name="listing[title]" placeholder="Title" value="<%= listing.title %>"> <br><br>
        <textarea name="listing[description]" placeholder="description" rows="6" cols="35"><%= listing.description %></textarea> <br> <br>
        <input type="text" name="listing[image]" placeholder="URL"> <br> <br>
        <input type="number" name="listing[price]" placeholder="Price" value="<%= listing.price %>"> <br> <br>
        <input type="text" name="listing[location]" placeholder="location" value="<%= listing.location %>"> <br> <br>
        <input type="text" name="listing[country]" placeholder="Country" value="<%= listing.country %>"> <br> <br>

        <button> Edit Listing </button>
    </form> 
</body>
</html>